@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono';
  font-size: 18px;
}

body {
  height: 100vh;
  background-color: #d5e845;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 450px;
  background-color: #e01f1f;
  padding: 70px 40px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.cf {
  width: 45%;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #d2d2d2;
  outline: none;
  margin-top: 8px;
  padding: 0 10px;
}

input:focus {
  border-color: #5e8b7e;
}
